@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&display=swap');
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#h_background{
	background-image: url("../Image/Artboard 16.png");
	min-width: 100vh;
	min-height: 100vh;
	background-color: rgba(0,0,0,1.00);
	background-repeat: no-repeat; 
	background-size: cover;
	padding:60px;
	background-position: center;
}
#home_container{
	color:white;
}
#h_content {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction:column;
	margin: 20% 0 0 50%;
}
#h_content h1 {
	text-transform: uppercase;
	font-size: 110px;
	font-family: 'Poppins', sans-serif;
}
#h_content p {
	font-family: 'Roboto', sans-serif;
	text-align: left; 
	font-size: 27px; 
	padding: 0 0 0 6px;
	margin: 0;
}
#bottom {
	display: flex;
	margin: 4% 0;

}
#button {
	width: 40%;
	display: flex;
	align-items: center;
}
#button a  {
	text-decoration: none;
	background-color: black;
	border-radius: 60px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
	color:white;
	text-transform:uppercase;
	padding: 7% 14%;
	font-weight: 600;
	
}
#button a:hover{
	background-color: #D9AA7F;
}

#social {
	width: 60%;
	display: flex;
	align-items: center;
	margin: 0 100px 0 0;
}
#social a{
	padding: 1%;
}
@media (max-width:1000px){
	body{
		padding:50px;
		background-position: left;
	}
	#content{
		width: 100%;
		margin: 40% 0 0 0;
	}
	#button a{
		padding: 8% 16%;
	}
	#social{
		margin: 0 230px 0 0;
	}
	#social a {
		padding: 1.5%
	}
}
@media (max-width:600px) {
	#content{	
		margin: 35% 0 0 0;
	}
	#content h1{
		font-size: 100px;
		width: 20%;
		line-height:1.2;
	}
	#social{
		margin: 0 100px 0 0;
	}
}